/PDC/SVM
/PDC_REFACTOR/SVM
*.pyc
.*.swp
/CAS4Generator/cas4.csv
/CAS4Generator/log
/CAS4Generator/NOT_CAS4.csv
.fuse*
.~lock*


# AGSDBFeeder
/AGSDBFeeder/bin/AGSDBFeeder
.*.swp
*.o
*.d

# AGSAPIProvider
__pycache__
*.pyc

# Misc
Test

# TOSTED
/TOSTED/TEST
/TOSTED/RES
/TOSTED/results
/TOSTED/GARBAGE.csv
/TOSTED/HISTO_TOS_TEST/
/TOSTED/OUT.csv
/TOSTED/.~lock.*.*

# TOSTEDCommand
/TOSTEDCommand/RES_03-08_05-08

# VSCODE
.vscode
