# MobileAGSClient
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


# AGSDBFeeder
/AGSDBFeeder/bin/AGSDBFeeder
.*.swp
*.o
*.d

# AGSAPIProvider
__pycache__
*.pyc

# Misc
Test
agsget.db*
